@import url('https://fonts.googleapis.com/css2?family=Cabin&display=swap');
*{
    padding: 0;
    margin: 0;
}

body{
    font-family: 'Cabin', sans-serif;
}

.main-navbar{
    display: flex;
    justify-content: center;
    background-color: #121921;
    color: white;
    padding: 0px;
    align-items: center;
    gap: 28px;
}

.logo{
    width: 120px;
    margin-bottom: -7px;
}

.location{
    width: 50px;
    height: 30px;
    margin-right: -8px;
}

.search-bar{
    display: flex;
    gap: 0px;
    align-items: center;
}

.search-div{
    background-color: #fbbe67;
    display: inline-block;
    height: 37px;
    width: 44px;
    border-radius: 0px 3px 3px 0px;
    text-align: center;
    /* padding-top: 5px; */
}

.search-div img{
    margin-top: 5px;
}


.search-bar input{
    width: 730px;
    height: 37px;
    border: none;
    border-left: 1px solid black;
}

.search-bar select{
    padding: 5px;
    height: 37px;
    border-radius: 3px 0 0 3px;
    border: none;
}

#country{
    width: 40px;
    height: 30px;
    background-color: transparent;
    color: white;
    border: none;
}

#country option{
    background-image: url("./assets/indian\ flag.png");
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 1;
}

#acc{
    height: 50px;
    width: 100px;
    color: white;
    background-color: transparent;
    border: none;
}

.new-navbar{
    background-color: #243040;
    color: white;
    display: flex;
    align-items: center;
    gap: 19px;
    height: 40px;
}

#prime{
    background-color: transparent;
    border: none;
    color: white;
    font-weight: 600;
    font-family: 'Cabin', sans-serif;
}

.lion{
    margin-left: 210px;
    height: 40px;
}

.home{
    background-image: url("./assets/background\ picture.png");
    background-size: cover;
    height: 87.8vh;
    position: relative;
    margin: 0px 10px;
    padding: 0px;
}

.card-1 , .card-2 , .card-3{
    width: 330px;
    height: fit-content;
    background-color: white;
    padding: 15px;
    padding-bottom: 0px;
    border: none;
}

.card-4{
    border: none;
    width: 350px;
    padding: 0px;
    height: fit-content;
}

.card-1 img{
    width: 150px;
}

.card-2 img{
    width: 160px;
}

.card-1 figcaption , .card-2 figcaption{
    font-size: 13px;
    color: rgb(167, 166, 166);
}

.card-1 h4{
    margin-top: 20px;
    font-size: 13px;
}

.card-2 h4{
    margin-top: 10px;
    font-size: 13px;
}

.card-3 img{
    width: 280px;
    height: 280px;
    margin-left: 25px;
}

.card-4-part-1{
    background-color: white;
    padding: 20px;
}

.card-container{
    display: flex;
    position: absolute;
    bottom: 0px;
    justify-content: space-around;
    width: 100%;
}

.card-4 button{
    width: 100%;
    border: none;
    background-color: #fed813;
    color: black;
    border-radius: 5px;
    font-size: 15px;
    padding: 10px;
}

.card-4-part-2{
    background-color: transparent;
    text-align: center;
}

.card-4-part-2 img{
    width: 260px;
    margin-top: 25px;
}

.right-arrow , .left-arrow{
    width: 60px;
    position: absolute;
}

.right-arrow{
    right: 0;
    top: 90px;
}

.left-arrow{
    left: 0;
    top: 90px;
}




